# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model files (mari, nu le vrei pe git)
models/*.h5
models/*.pkl
models/*.task

# Dataset (foarte mare)
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env variables
.env
# Quick Draw cache (very large)
.quickdrawcache/
